body {
  background: url('../images/waves.png');
  background-color: #4a4a4a;
}
#wrapper {
  width: 800px;
  margin: 0 auto;
  background-color: #ebebeb;
}
#header {
  height: 250px;
  background: url('../images/agrabah.png');
  position: relative;
}
#header h1 {
  margin: 0px;
  position: absolute;
  bottom: 0px;
  left: 30px;
}
#header #profile {
  position: absolute;
  right: 30px;
  bottom: -50px;
}
